<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Eat Da Burger</title>
		<link rel="stylesheet" href="/assets/css/burger_style.css">
	</head>
	<body>
		<img src="https://media3.giphy.com/media/IgOEWPOgK6uVa/200w.webp?cid=ecf05e471u05fm3bcpxxoq94yjcbxmt8jsd86xcenbu6dsms&rid=200w.webp" alt="" srcset="">
		{{{ body }}}
		<script src="https://code.jquery.com/jquery.js"></script>
		<script src="/assets/script/script.js"></script>
	</body>
</html>
