<h1 class="d-flex justify-content-center">Eat Da Burger!</h1>
<img src="https://media3.giphy.com/media/IgOEWPOgK6uVa/200w.webp?cid=ecf05e471u05fm3bcpxxoq94yjcbxmt8jsd86xcenbu6dsms&rid=200w.webp" alt="patrick-eating-burgers">
<div class = "row">
  <div class="col-md d-flex justify-content-center">
    <h2>Burgers Ready To Be Devoured!</h2>
      <ul>
        {{#each burgers}}
          {{#unless devoured}}
          {{/unless}}
        {{/each}}
      </ul>
  </div>
  <div class="col-md d-flex justify-content-center">
    <h2>Burgers Devoured!</h2>
    <ul>
      {{#each burgers}}
        {{#if devoured}}
        {{/if}}
      {{/each}}
    </ul>
  </div>
</div>

<div>
  <div class="row">
    <h2 class="d-flex justify-content-center">Add A Burger</h2>
  </div>
  <div class="row">
    <form class="create-form d-flex justify-content-center">
      <div class="form-group">
        <label for="ca">Burger Name:</label>
        <input type="text" id="ca" name="name">
      </div>
      <button type="submit">Add!</button>
    </form>
  </div>
</div>
